{% extends "base.html.twig" %}

{% block body %}
    <div id="container">
        <div id="heading" class="invisible">
            <div id="menu-button" class="invisible">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div id="logo">
                LOGO
            </div>
            <div id="header-spacing"></div>
            <div id="contact-bar"></div>
            <div style="clear: both;"></div>
        </div>
        <div id="menu" class="invisible">
        </div>
        <div id="content" class="invisible">
            <div id="contact">
                <h1>Contact page</h1>
                <p style="padding-top: 10px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia ante a lacus scelerisque, 
                    et vulputate lacus lacinia. Ut non libero vehicula, condimentum augue nec, tincidunt urna. Aliquam 
                    a aliquam justo, et congue arcu. Aenean volutpat nibh at sem porta, sit amet tincidunt dui euismod. 
                    Etiam non blandit felis. Cras mattis, ante sit amet efficitur mollis, odio risus vestibulum tortor, 
                    et dapibus nibh orci vitae dui. Nunc eleifend leo sit amet ex mollis semper. Morbi et varius lorem. 
                    Proin blandit efficitur est, eget finibus dolor convallis ac. Curabitur tortor turpis, placerat 
                    fringilla nulla sed, porttitor pulvinar ante. Praesent aliquet dolor eu ultrices auctor. Aliquam 
                    erat volutpat. In lacinia, neque sed rhoncus tempor, ante dolor rutrum lorem, et ultrices neque quam
                    vitae erat.
                </p>
            </div>
            <div id="footer">
                contact: 111-222-333  &#9400; 2018 Marcin Krawczyk. All Rights Reserved.
            </div>
        </div>
        <div style="clear: both;"></div>
     </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    
    {# common scripts and css #}
    
    {# page specific scripts #}

    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            
            let menuButton = document.getElementById("menu-button");
            
            // initial configuration
            function init() {
                
                let heading = document.getElementById("heading");
                let menuButton = document.getElementById("menu-button");             
                let logo = document.getElementById("logo");
                let headerSpacing = document.getElementById("header-spacing");
                let contactBar = document.getElementById("contact-bar");
                let menu = document.getElementById("menu");
                let content = document.getElementById("content");
                let windowWidth = window.innerWidth;
                
                if (windowWidth > 740) {
                    
                    // header
                    heading.classList.add("heading-normal");
                    heading.classList.remove("invisible");
                    
                    logo.classList.add("col-2");
                    headerSpacing.classList.add("col-1");
                    contactBar.classList.add("col-9");
                    
                    // content
                    menu.classList.add("col-2");
                    menu.classList.add("menu-config");
                    menu.classList.remove("invisible");
                    
                    pasteMenuContent(menu);
                    
                    content.classList.add("col-10");
                    content.classList.remove("invisible");
                    
                } else {
                    
                    // header
                    heading.classList.add("heading-small");
                    heading.classList.remove("invisible");
                    
                    menuButton.classList.add("col-1");
                    menuButton.classList.remove("invisible");
                    logo.classList.add("col-2");
                    headerSpacing.classList.add("col-9");
                    contactBar.classList.add("invisible");
                    
                    // content
                    menu.classList.add("col-0");
                    
                    pasteMenuContent(menu);
                    
                    content.classList.add("col-12");
                    content.classList.remove("invisible");
                }
            }
            init();

            // on resize browser window
            let onresize = function() {
                
                let heading = document.getElementById("heading");
                let headerSpacing = document.getElementById("header-spacing");
                let contactBar = document.getElementById("contact-bar");
                let content = document.getElementById("content");
                let windowWidth = window.innerWidth;
                let menu = document.getElementById("menu");
                let menuButton = document.getElementById("menu-button");
                let menuPop = document.getElementById("menu-pop");

                if (windowWidth > 740) {
                    
                    if (menuPop !== null) {

                        menuPop.remove();
                        content.classList.remove("invisible");
                        
                        menuButton.classList.remove("change");
                    }
                    
                    // header
                    if (String(heading.className.match(/heading-small/g)) === "heading-small") {
                        
                        heading.classList.remove("heading-small");
                        heading.classList.add("heading-normal");
                    }
                    
                    if (String(menuButton.className.match(/invisible/g)) !== "invisible") {
                        
                        menuButton.classList.add("invisible");
                        menuButton.classList.remove("col-1");
                    }
                    
                    if (String(headerSpacing.className.match(/col-9/g)) === "col-9") {
                        
                        headerSpacing.classList.remove("col-9");
                        headerSpacing.classList.add("col-1");
                    }
                    
                    if (String(contactBar.className.match(/invisible/g)) === "invisible") {
                        
                        contactBar.classList.remove("invisible");
                        contactBar.classList.add("col-9");
                    }
                      
                    // content
                    if (String(menu.className.match(/col-0/g)) === "col-0") {
                        
                        menu.classList.remove("col-0");
                        menu.classList.remove("invisible");
                    }
                    
                    if (String(menu.className.match(/col-12/g)) === "col-12") {
                        
                        menu.classList.remove("col-12");
                    }
                    
                    if (String(menu.className.match(/col-2/g)) !== "col-2") {
                        
                        menu.classList.add("col-2");
                    }
                    
                    if (String(menu.className.match(/menu-config/g)) !== "menu-config") {
                        
                        menu.classList.add("menu-config");
                    }
                    
                    if (String(content.className.match(/col-0/g)) === "col-0") {
                        
                        content.classList.remove("col-0");
                        content.classList.remove("invisible");
                    }
                    
                    if (String(content.className.match(/col-12/g)) === "col-12") {
                        
                        content.classList.remove("col-12");
                    }
                    
                    if (String(content.className.match(/col-10/g)) !== "col-10") {
                        
                        content.classList.add("col-10");
                    }
                    
                } else {
                    
                    //header
                    if (String(heading.className.match(/heading-normal/g)) === "heading-normal") {
                        
                        heading.classList.remove("heading-normal");
                        heading.classList.add("heading-small");
                    }
                    
                    if (String(menuButton.className.match(/invisible/g)) === "invisible") {
                        
                        menuButton.classList.remove("invisible");
                        menuButton.classList.add("col-1");
                    }
                    
                    if (String(headerSpacing.className.match(/col-1/g)) === "col-1") {
                        
                        headerSpacing.classList.remove("col-1");
                        headerSpacing.classList.add("col-9");
                    }
                    
                    if (String(contactBar.className.match(/col-9/g)) === "col-9") {
                        
                        contactBar.classList.remove("col-9");
                        contactBar.classList.add("col-0");
                        contactBar.classList.add("invisible");
                    }
                    
                    // content
                    if (String(menu.className.match(/col-2/g)) === "col-2") {
                        
                        menu.classList.remove("col-2");
                        menu.classList.remove("menu-config");
                        menu.classList.add("col-0");
                        menu.classList.add("invisible");

                        content.classList.remove("col-10");
                        content.classList.add("col-12");
                    }
                }
            };
            window.addEventListener("resize", onresize);
            
            // right mouse click
            document.addEventListener('contextmenu', function(event) {
                
                // block right button mouse click
                
                // enable it before deploy !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        //        event.preventDefault();
            });
                        
            // click menu button event listener
            menuButton.addEventListener("click", function(){

                let container = document.getElementById("container");
                let content = document.getElementById("content");
                let menuPop = document.getElementById("menu-pop");
                
                if (menuPop === null) {
                    
                    menuButton.classList.add("change");

                    let menuPop = document.createElement('div');
                    menuPop.setAttribute('id', 'menu-pop');
                    menuPop.classList.add("m-open");
                    pasteMenuContent(menuPop);

                    container.append(menuPop);

                    content.classList.add("invisible");
                    
                } else {
                    
                    menuButton.classList.remove("change");

                    content.classList.remove("invisible");
                    menuPop.remove();
                }
            });
                                            
            function createAndPasteMenuList(anchor) {
                
                let menuList = document.createElement('div');
                menuList.setAttribute('id', 'menu-list');
                    
                let sessionHeader = document.createElement('p');
                
                let aTagSessions = document.createElement('a');
                aTagSessions.setAttribute('href', '/');
                aTagSessions.innerHTML = "Sessions";
                
                sessionHeader.appendChild(aTagSessions);
                menuList.appendChild(sessionHeader);
                
                let about = document.createElement('p');
                
                let aTagAbout = document.createElement('a');
                aTagAbout.setAttribute('href', '/about');
                aTagAbout.innerHTML = "About";
                
                about.appendChild(aTagAbout);
                menuList.appendChild(about);
                
                let contact = document.createElement('p');
                
                let aTagContact = document.createElement('a');
                aTagContact.setAttribute('href', '/contact');
                aTagContact.innerHTML = "Contact";
                
                contact.appendChild(aTagContact);
                menuList.appendChild(contact);
                
                let socialsUl = document.createElement('ul');
                socialsUl.setAttribute('id', 'socials');
                
                let facebookLiTag = document.createElement('li');
                // add href to fb page
                let facebookATag = document.createElement('a');
                let facebookITag = document.createElement('i');
                
                facebookITag.setAttribute('id', 'facebook');
                facebookITag.classList.add("fa");
                facebookITag.classList.add("fa-facebook");
                
                facebookATag.appendChild(facebookITag);
                facebookLiTag.appendChild(facebookATag);
                
                socialsUl.appendChild(facebookLiTag);
                
                let instagramLiTag = document.createElement('li');
                // add href to instagram page
                let instagramATag = document.createElement('a');
                let instagramITag = document.createElement('i');
                
                instagramITag.setAttribute('id', 'instagram');
                instagramITag.classList.add("fa");
                instagramITag.classList.add("fa-instagram");
                
                instagramATag.appendChild(instagramITag);
                instagramLiTag.appendChild(instagramATag);
                
                socialsUl.appendChild(instagramLiTag);
                
                menuList.appendChild(socialsUl);
                
                anchor.append(menuList);
            }
            
            function pasteMenuContent(anchor) {
            
                createAndPasteMenuList(anchor);
            }
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/homepage_style.css') }}"/>
    
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #060f1c;
            color: white;
        }
        
        #menu-button {
            display: inline-block;
            cursor: pointer;
            margin-left: 4px; 
            padding: 0px;
            float: left;
        }
        
        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            transition: 0.4s;
        }
        
        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        .change .bar2 {opacity: 0;}

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
        
        #logo {
            padding: 0px;
            height: 60px;
            float: left;
        }
        
        #header-spacing {
            float: left;
        }
        
        #contact-bar {
            text-align: right;
            float: left;
        }
        
        .heading-normal {
            height: 110px;
        }
        
        .heading-small {
            height: 60px;
        }
        
        #content {
            height: auto;
            float: left;
        }
        
        #contact {
            padding: 0 20px 40px 20px;
        }
    
        #menu {
            float: left;
        }
        
        .menu-config {
            height: 800px;
            font-size: 18px;
            line-height: 25px;
        }
        
        #menu-list > p {
            font-weight: bold;
        }
        
        p > a {
            text-decoration: none;
        }
        
        #sessions {
            padding-left: 13px;
            list-style-type: none;
        }
        
        ul#socials {
            display: flex;
        }
        
        ul#socials > li {
            cursor: pointer;
            list-style: none;
            display: flex;
        }
        
        ul#socials > li > a {
            display: block;
            width: 30px;
            height: 30px;
            background: #060f1c;
            text-align: center;
            line-height: 80px;
            font-size: 24px;
            margin: 0 10px;
        }
        
        i#facebook:hover {
            color: #3b5998
        }
        
        i#instagram:hover {
            color: #e95950
        }
        
        .m-open {
            position: absolute;
            padding: 60px 30px;
            z-index: 1;
            width: 100%;
            height: 1000px;
            left: 0px;
            top: 60px;
            font-size: 20px;
        }
        
        .invisible {
            visibility: hidden;
            height: 0px;
        }
        
        #footer {
            text-align: right;
            padding: 0 20px 0 20px;
        }
        
        .col-0 {
            width: 0%;
        }
        
        .col-1 {
            width: 8.33%;
            padding: 15px;
        }
        
        .col-2 {
            width: 16.66%;
            padding: 15px;
        }
        
        .col-3 {
            width: 25%;
            padding: 15px;
        }
        
        .col-4 {
            width: 33.33%;
            padding: 15px;
        }
        
        .col-5 {
            width: 41.66%;
            padding: 15px;
        }
        
        .col-6 {
            width: 50%;
            padding: 15px;
        }
        
        .col-7 {
            width: 58.33%;
            padding: 15px;
        }
        
        .col-8 {
            width: 66.66%;
            padding: 15px;
        }
        
        .col-9 {
            width: 75%;
            padding: 15px;
        }
        
        .col-10 {
            width: 83.33%;
            padding: 15px;
        }
        
        .col-11 {
            width: 91.66%;
            padding: 15px;
        }
        
        .col-12 {
            width: 100%;
            padding: 15px;
        }
    </style>
{% endblock %}